* {
  margin: 0;
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;
  font-weight: bold;
}

body {
  background-image: url(https://wallpapercave.com/wp/wp1810973.jpg);
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

span {
  color: yellow;
  font-size: 1.5rem;
  padding-left: 30px;
  line-height: 50px;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

.topnav .icon {
  display: none;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;600;700&display=swap");
:root {
  --main-color: #3d27bb;
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #444;
}

html::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 5rem;
}

body {
  background: #222;
}

section {
  padding: 2rem 9%;
}

.heading {
  text-align: center;
  padding: 2rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 4rem;
}

.heading span {
  color: var(--main-color);
  text-transform: uppercase;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  background: #666;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
}

.btn:hover {
  background: var(--main-color);
}

.home .content {
  text-align: center;
  padding-top: 6rem;
  margin: 2rem auto;
  max-width: 70rem;
}
.home .content h3 {
  color: #fff;
  font-size: 4.5rem;
  text-transform: uppercase;
}

.home .content h3 span {
  color: var(--main-color);
  text-transform: uppercase;
}

.home .home-slider .swiper-slide {
  overflow: hidden;
  border-radius: 0.5rem;
  height: 50rem;
  width: 35rem;
}
.home .home-slider .swiper-slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
}

.gallery .box-container .box {
  position: relative;
  border: 1rem solid #333;
  border-radius: 0.5rem;
  height: 25rem;
  cursor: pointer;
  overflow: hidden;
}

.gallery .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery .box-container .box:hover img {
  transform: scale(1.1);
  filter: grayscale();
}

.gallery .box-container .box .title {
  position: absolute;
  top: -10rem;
  left: 0;
  right: 0;
  background: #333;
  color: #fff;
  text-align: center;
  padding-bottom: 1rem;
  font-size: 2rem;
}

.gallery .box-container .box:hover .title {
  top: 0;
}

.gallery .box-container .box .icons {
  position: absolute;
  bottom: -10rem;
  left: 0;
  right: 0;
  background: #333;
  padding-top: 1rem;
  text-align: center;
}

.gallery .box-container .box:hover .icons {
  bottom: 0;
}

.gallery .box-container .box .icons a {
  font-size: 2rem;
  margin: 1rem 1rem;
  color: #fff;
}

.gallery .box-container .box .icons a:hover {
  color: var(--main-color);
}

.price .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.price .box-container .box {
  padding: 2rem 0;
  background: #333;
  border-radius: 0.5rem;
  text-align: center;
}

.price .box-container .box:hover {
  transform: scale(1.03);
}

.price .box-container .box .title {
  background: var(--main-color);
  color: #fff;
  padding: 1.5rem 0;
  font-size: 2rem;
}

.price .box-container .box .amount {
  color: #fff;
  padding-top: 2rem;
  font-size: 2rem;
}

.price .box-container .box ul {
  list-style-type: none;
  padding: 1rem 0;
}

.price .box-container .box ul li {
  font-size: 1.5rem;
  color: #eee;
  padding: 1rem 0;
}

.price .box-container .box ul li i {
  color: var(--main-color);
  padding-right: 0.5rem;
}

.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
}

.contact form .inputbox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .inputbox input,
.contact form textarea {
  width: 100%;
  background: #333;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0.7rem 0;
  font-size: 1.5rem;
  color: #fff;
  text-transform: none;
}

.contact form .inputbox input::placeholder,
.contact form textarea::placeholder {
  color: #eee;
  text-transform: capitalize;
}

.contact form .inputbox input::focus,
.contact form textarea::focus {
  background: #444;
}

.contact form .inputbox input {
  width: 49%;
}
.contact form textarea {
  resize: none;
}
